<article>
  {{#> blog-post title="Target (12/08/2025) - tied for 3rd place"}}
  <img
    src="/css-battle/2025-08-12.png"
    alt="Target (12/08/2025) - tied for 3rd place"
    width="400"
    height="300"
  />
  <p>Solution (175 characters):</p>
  <div class="code" lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<img><style>&,*+*{border-radius:8cm}*{background:#7E6293;border:32q solid#fff;margin:50 235 130 75;*{margin:50-190-110 130;*{margin:-40-95;scale:.52 3.34;transform:skew(-60deg`</script>
  </div>
  <p>
    <strong>Breakdown:</strong>
  </p>
  <p>
    Alright nothing too fancy happening in todays solution. We have 3 elements
    (html, body, img) all with a white border and a purple background. Html and
    body elements give us the '0's of this percentage sign, and the img tag
    takes up the responsibility of the slash. One good trick in this solution is
    purely using scale to size the img. Since we already need scale to change
    the size of the border of the img, we can also use it to give it its height.
    This way we don't need padding or height to set its size.
  </p>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`&,
* + * {
  border-radius: 8cm;
}
* {
  background: #7e6293;
  border: 32Q solid#fff;
  margin: 50 235 130 75;
  * {
    margin: 50-190-110 130;
    * {
      margin: -40-95;
      scale: 0.52 3.34;
      transform: skew(-60deg);
    }
  }
}`
</script>
  </div>

  {{/blog-post}}
</article>
