<article>
  {{#> blog-post title="Target (10/12/2025) - 3rd place"}}
  <img
    src="/css-battle/2025-12-10.png"
    alt="Target (10/12/2025) - 3rd place"
    width="400"
    height="300"
    loading="lazy"
  />
  <p>Solution (135 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<style>&{margin:125 70%125 20;border-radius:8cm;box-shadow:137q 0#FFF6,65vw 0#FFF6,0 0 0 8cm#202F8E;*{margin:15 0;box-shadow:0 45px#fff`</script>
  </div>

  <p>
    Huh, surprised this made top 10. No new tricks used in this one, but the old
    tricks include:
  </p>

  <ul>
    <li>
      Using succinct selectors (<span class="code code-inline" data-lang="css">
        <!-- prettier-ignore -->
        <script data-no-format>`&,*`</script> </span
      >)
    </li>
    <li>Using percentage values for margin where possible</li>
    <li>
      Using a 4 digit hex code with an alpha value to achieve the required 6
      digit hex color
    </li>
  </ul>

  <p>
    Some point soon I'm going to create a section for each of these tricks with
    full explanations. That way I can simply link the explanation if it's
    already been explained in another post.
  </p>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`& {
  margin: 125 70%125 20;
  border-radius: 8cm;
  box-shadow: 137Q 0 #fff6, 65vw 0 #fff6, 0 0 0 8cm #202f8e;
  * {
    margin: 15 0;
    box-shadow: 0 45px#fff;
  }
}`
</script>
  </div>

  {{/blog-post}}
</article>
