<article>
  {{#> blog-post title="Target (23/09/2025) - tied for 2nd place"}}
  <img
    src="/css-battle/2025-09-23.png"
    alt="Target (23/09/2025) - tied for 2nd place"
    width="400"
    height="300"
  />
  <p>Solution (135 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<p><style>*{border:solid;color:9F6766;border-width:20 20 0;margin:5%60;*{margin:45q 30 20;background:#CE02;p{color:8AB8B6;scale:3.5 7.5`</script>
  </div>

  <p>
    Nothing particularly interesting in this one. We have the 3 sided brown
    border on the html and body elements, with the one trick used being the
    <span class="code code-inline" data-lang="css">
      <!-- prettier-ignore -->
      <script data-no-format>`scale:3.5 7.5`</script>
    </span>
    which is used to give the p tag the correct width and height.
  </p>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`* {
  border: solid;
  color: 9F6766;
  border-width: 20 20 0;
  margin: 5%60;
  * {
    margin: 45Q 30 20;
    background: #ce02;
    p {
      color: 8AB8B6;
      scale: 3.5 7.5;
    }
  }
}`
</script>
  </div>

  {{/blog-post}}
</article>
