<article>
  {{#> blog-post title="Target (23/02/2026) - tied for 3rd place"}}
  <img
    src="/css-battle/2026-02-24.png"
    alt="Target (24/02/2026) - tied for 3rd place"
    width="400"
    height="300"
    loading="lazy"
  />
  <p>Solution (124 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<body text=FAE2A bgcolor=4C4C6B style=margin:50+85%40%0;border-radius:3cm;box-shadow:64q+0,180q+0,70vw+0,64q+116q,180q+116q>`</script>
  </div>

  <p>
    A good opportunity to explain a way to solve a challenge without using a
    <span class="code code-inline" data-lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`style`</script>
    </span>
    tag at all. Also some nifty uses of deprecated attributes like
    <span class="code code-inline" data-lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`bgColor`</script>
    </span>
    and
    <span class="code code-inline" data-lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`text`</script> </span
    >. I couldn't find decent documentation on these (likely from a lack of
    effort), but I did find:
  </p>
  <ul>
    <li>
      This
      <a
        href="https://css-tricks.com/list-of-depreciated-elements-still-in-widespread-use/#:~:text=text%2Dalign%3A%20left%3B%E2%80%9D.-,bgcolor,-%3A%20e.g.%20%3Ctable"
        target="_blank"
        rel="noreferrer"
        >css-tricks article</a
      >
      mentioning bgColor.
    </li>
    <li>
      This
      <a
        href="https://www.dofactory.com/html/attributes/deprecated#:~:text=n/a-,text,-body"
        target="_blank"
        rel="noreferrer"
        >dofactory article</a
      >
      which lists deprecated HTML attributes that mentions the text attribute.
    </li>
  </ul>

  <iframe
    class="yt-video"
    width="100%"
    height="auto"
    src="https://www.youtube.com/embed/2PUYNhW1YNk?si=C0e9RuQQrwcX7Ol1"
    title="battle 24/02/2026"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;
    "
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <p>
    No unminified styles to show for this one, as there's no stylesheet. Just
    inline styles and attributes on the
    <span class="code code-inline" data-lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`body`</script>
    </span>
    element.
  </p>

  {{/blog-post}}
</article>
