<article>
  {{#> blog-post title="Target (29/09/2025) - tied for 9th place"}}
  <img
    src="/css-battle/2025-09-29.png"
    alt="Target (29/09/2025) - tied for 9th place"
    width="400"
    height="300"
  />
  <p>Solution (166 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`.<p><p><style>p{background:#4F73D9;border-radius:8cm;height:60;margin:63.5 162 0;+*{zoom:1.7;margin:8 77 0}}&{background:#ABE1;*{background:#05E5;clip-path:circle(5pc`</script>
  </div>

  <p>
    There aren't any new tricks used in this solution so I don't have much drive
    to talk about the details. I'll mention that two of the colors were
    shortened from their 6 digit hex codes to 4 digit hex codes, using
    <a href="https://48dvyq.csb.app/" target="_blank">this color mixing tool</a
    >.
  </p>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`p {
  background: #4f73d9;
  border-radius: 8cm;
  height: 60;
  margin: 63.5 162 0;
  + * {
    zoom: 1.7;
    margin: 8 77 0;
  }
}
& {
  background: #abe1;
  * {
    background: #05e5;
    clip-path: circle(5pc);
  }
}`
</script>
  </div>

  {{/blog-post}}
</article>
