<article>
  {{#> blog-post title="Target (08/02/2026) - tied for 1st place"}}
  <img
    src="/css-battle/2026-02-08.png"
    alt="Target (08/02/2026) - tied for 1st place"
    width="400"
    height="300"
    loading="lazy"
  />
  <p>Solution (85 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`.<style>*{*{scale:.444;margin:93 53 3 143}background:radial-gradient(1q,#644 95q,#D77`</script>
  </div>

  <p>
    A simple, fun challenge with a very terse solution and some interesting
    tricks.
  </p>

  <iframe
    class="yt-video"
    width="100%"
    height="auto"
    src="https://www.youtube.com/embed/aC7DZt71_Hk?si=lKh9h8v4H5fuFFiF"
    title="battle 08/02/2026"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;
    "
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`* {
  * {
    scale: 0.444;
    margin: 93 53 3 143;
  }
  background: radial-gradient(1Q, #644 95Q, #d77);
}`
</script>
  </div>

  {{/blog-post}}
</article>
