<article>
  {{#> blog-post title="Target (19/04/2026) - tied for 3rd place"}}
  <img
    src="/css-battle/2026-04-19.png"
    alt="Target (19/04/2026) - tied for 3rd place"
    width="400"
    height="300"
    loading="lazy"
  />
  <p>Solution (190 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<p><img><p><img><style>&{*{background:#2F5C24;*{border:32q solid#EBCB58}p{margin:65 72-95 120;border-left:0;border-radius:0 3cm 3cm 0;*{margin:-60-24 25%;zoom:1.17}+*{scale:-1;translate:-25%`</script>
  </div>

  <p>
    This was a particularly long solution that I was surprised to see in the top
    10. Nothing super noteworthy here, but it's been a while since I've done a
    breakdown on a solution so I'll do it anyway.
  </p>

  <iframe
    class="yt-video"
    width="100%"
    height="auto"
    src="https://www.youtube.com/embed/gwMFjxANsiE?si=A5Fm88WD2GPKYmts"
    title="battle 19/04/2026"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;
    "
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`& {
  * {
    background: #2f5c24;
    * {
      border: 32Q solid#EBCB58;
    }
    p {
      margin: 65 72-95 120;
      border-left: 0;
      border-radius: 0 3cm 3cm 0;
      * {
        margin: -60-24 25%;
        zoom: 1.17;
      }
      + * {
        scale: -1;
        translate: -25%;
      }
    }
  }
}`
</script>
  </div>

  {{/blog-post}}
</article>
