<article>
  {{#> blog-post title="Target (09/09/2025) - 6th place"}}
  <img
    src="/css-battle/2025-09-09.png"
    alt="Target (09/09/2025) - 6th place"
    width="400"
    height="300"
  />
  <p>Solution (151 characters):</p>
  <div class="code" lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<p><p><style>&{color:00B1D4;margin:30%30%70 170;box-shadow:32q 32q;*{border:32q double;margin:-80-30 130 80;background:#142032;*{margin:130 130-350-190`</script>
  </div>

  <p>
    I'm going to diverge from the previous format of giving a detailed
    breakdown. I've gotten over that. Instead I'll talk about the parts I find
    interesting.
  </p>

  <p>
    What I like about this solution is the use of the
    <span class="code code-inline" lang="css">
      <!-- prettier-ignore -->
      <script data-no-format>`double`</script>
    </span>
    border. What's nice about this is we get the square shape with an offset
    border without having to give the element any width or height. My first
    instinct to make that shape would be a block with a light blue background,
    an outline also with a light blue background, and then use
    <span class="code code-inline" lang="css">
      <!-- prettier-ignore -->
      <script data-no-format>`outline-offset`</script>
    </span>
    to create space between the outline and the box.
  </p>

  <p>
    The second thing I like about this solution is using a single margin
    property to position both of the
    <span class="code code-inline" lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`<p>`</script>
    </span>
    tags. This is a trick I have learned recently, and am still quite enamored
    with.
  </p>

  <p>
    It's worth noting that all the solutions shorter than mine used the exact
    same CSS properties. They were just smarter and more terse with their margin
    values.
  </p>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`& {
  color: 00B1D4;
  margin: 30%30%70 170;
  box-shadow: 32Q 32Q;
  * {
    border: 32Q double;
    margin: -80-30 130 80;
    background: #142032;
    * {
      margin: 130 130-350-190;
    }
  }
}`
</script>
  </div>

  {{/blog-post}}
</article>
