<article>
  {{#> blog-post title="Target (16/02/2026) - tied for 1st place"}}
  <img
    src="/css-battle/2026-02-16.png"
    alt="Target (16/02/2026) - tied for 1st place"
    width="400"
    height="300"
    loading="lazy"
  />
  <p>Solution (144 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<style>*{background:#11092D;margin:40 145 150;color:4A9A86;*{margin:30;color:FFCA00;--x:#4A9A86}box-shadow:116q 0,-116q 0,0 116q var(--x,#FFCA00`</script>
  </div>

  <p>
    Just
    <span class="code code-inline" data-lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`html`</script> </span
    >,
    <span class="code code-inline" data-lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`body`</script> </span
    >,
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-shadow"
      target="_blank"
      >box-shadow</a
    >

    and a dream.
  </p>

  <iframe
    class="yt-video"
    width="100%"
    height="auto"
    src="https://www.youtube.com/embed/KtT3_7ZEoFY?si=_w7i3nTsYgOVvNOZ"
    title="battle 16/02/2026"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;
    "
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`* {
  background: #11092d;
  margin: 40 145 150;
  color: 4A9A86;
  * {
    margin: 30;
    color: FFCA00;
    --x: #4a9a86;
  }
  box-shadow:
    116Q 0,
    -116Q 0,
    0 116Q var(--x, #ffca00);
}`
</script>
  </div>

  {{/blog-post}}
</article>
