<article>
  {{#> blog-post title="Target (31/08/2026) - 1st place"}}
  <img
    src="/css-battle/2026-08-31.png"
    alt="Target (31/08/2026) - 1st place"
    width="400"
    height="300"
    loading="lazy"
  />
  <p>Solution (90 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<body bgcolor=65522 style=margin:70;border-image:conic-gradient(#F1D36F)space+41+58+1/5ch>`</script>
  </div>

  <p>
    Been a while since I posted one of these and it's because I haven't had
    anything new or particularly interesting to talk about. Good news though,
    this challenge was a great candidate for
    <span class="code code-inline" data-lang="css">
      <!-- prettier-ignore -->
      <script data-no-format>`border-image`</script></span
    >
    which is a property I have yet to master (particularly the
    <span class="code code-inline" data-lang="css">
      <!-- prettier-ignore -->
      <script data-no-format>`border-image-slice`</script></span
    >
    rule), but am working on getting to know it better. Please enjoy this very
    rough and rambly attempt at an explanation of how this property works and
    the code golf tricks that can be achieved with it.
  </p>

  <iframe
    class="yt-video"
    width="100%"
    height="auto"
    src="https://www.youtube.com/embed/2A3E37G2kfU?si=FMVd-Tz-ymg3HVln"
    title="battle 31/08/2026"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;
    "
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <p>
    <strong
      >Only inlined CSS in this solution, so no unminified code to
      share.</strong
    >
  </p>

  {{/blog-post}}
</article>
