<article>
    {{#> blog-post title="Target (08/05/2026) - tied for 1st place"}}
    <img
        src="/css-battle/2026-05-08.png"
        alt="Target (08/05/2026) - tied for 1st place"
        width="400"
        height="300"
        loading="lazy"
    />
    <p>Solution (141 characters):</p>
    <div class="code" data-lang="html">
        <!-- prettier-ignore -->
        <script data-no-format>`<style>*{background:radial-gradient(1q,#DF914B 5vh,#eee 0 2.2em,#DF914B)13%-32q/9.44lh;*{margin:65 125;border-radius:0 0 13%13%;font:91q/.47'`</script>
    </div>

    <p>
        Stoked about this, I've been waiting for a good chance to explain how to
        use the
        <span class="code code-inline" data-lang="css">
            <!-- prettier-ignore -->
            <script data-no-format>`font`</script>
        </span>
        property to get two free variables. This is a prime example for that.
    </p>

    <iframe
        class="yt-video"
        width="100%"
        height="auto"
        src="https://www.youtube.com/embed/ZiE6CmoR8OQ?si=VJU4_KHCf6F2DTn-"
        title="battle 08/05/2026"
        frameborder="0"
        allow="
            accelerometer;
            autoplay;
            clipboard-write;
            encrypted-media;
            gyroscope;
            picture-in-picture;
            web-share;
        "
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
    ></iframe>

    <p><strong>Here are the styles, unminified:</strong></p>
    <div class="code" data-lang="css">
        <!-- prettier-ignore -->
        <script data-no-format>
`* {
    background: radial-gradient(1Q, #df914b 5vh, #eee 0 2.2em, #df914b)
        13% -32Q / 9.44lh;
    * {
        margin: 65 125;
        border-radius: 0 0 13% 13%;
        font: 91Q / 0.47 "";
    }
}`
</script>
    </div>

    {{/blog-post}}
</article>
