<article>
  {{#> blog-post title="Target (05/06/2025) - 7/10"}}
  <img
    src="/css-battle/2025-06-05.png"
    alt="Target (05/06/2025) - 7/10"
    width="400"
    height="300"
  />
  <p>Solution (130 characters):</p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>`<p><style>&{border-radius:9in}*{background:#394257;border:5ch solid#EED9D9;margin:60 30;*{margin:-70 40;*{height:40;margin:160-190`</script>
  </div>
  <p>
    <strong>Breakdown:</strong>
  </p>
  <p>
    This was a pretty simple challenge. The idea here was 3 elements with the
    same dark blue background and a light border. Only a
    <span class="code code-inline" data-lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`<p>`</script>
    </span>
    tag is added, giving us 3 elements total. The html element is given a border
    radius for the rounded part of the image, and other than that there is just
    margin for positioning and a height given to the
    <span class="code code-inline" data-lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`<p>`</script>
    </span>
    tag.
  </p>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`& {
  border-radius: 9in;
}
* {
  background: #394257;
  border: 5ch solid#EED9D9;
  margin: 60 30;
  * {
    margin: -70 40;
    * {
      height: 40;
      margin: 160-190;
    }
  }
}`
</script>
  </div>

  <div>
    <p>
      Looking at the top solutions for this challenge, one major difference
      stands out to me. Take a look here:
    </p>
    <div class="code" data-lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`<h1> <style>*{margin:160-200;background:#394257;border:solid 43q#EED8D8}&{margin:60 30;border-radius:5in;>*{margin:-70 40`</script>
    </div>
    <p>
      There is no height set for the element added to the page. This saves quite
      a few characters. The use the non breaking space unicode character which
      gives the
      <span class="code code-inline" data-lang="html">
        <!-- prettier-ignore -->
        <script data-no-format>`<h1>`</script>
      </span>
      element its height.
    </p>
  </div>
  {{/blog-post}}
</article>
