<article>
  {{#> blog-post title="Target (22/01/2026) - tied for 1st place"}}
  <img
    src="/css-battle/2026-01-22.png"
    alt="Target (22/01/2026) - tied for 1st place"
    width="400"
    height="300"
    loading="lazy"
  />
  <p>Solution (104 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<style>*{*{--o:1q,#38373A 5em,#0000}background:radial-gradient(var(--o,3%1%at 30%70%,#8B7E4C 5em,#C7B46D`</script>
  </div>

  <p>
    Taking a glance at this solution, I'm reminded of the feeling I got when I
    first started playing CSS golf. I'd look at solutions like this and be
    befuddled by what I was looking at. Now I can actually explain how it works.
    This time I'm going to try a different explanation method and show how I got
    to this step by step in a video.
  </p>

  <iframe
    class="yt-video"
    width="100%"
    height="auto"
    src="https://www.youtube.com/embed/eV3oF-FotOU?si=az7h7x7J_3hWPVpW"
    title="YouTube video player"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;
    "
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  {{/blog-post}}
</article>
