<article>
  {{#> blog-post title="Target (23/02/2026) - 5th place"}}
  <img
    src="/css-battle/2026-02-23.png"
    alt="Target (23/02/2026) - 5th place"
    width="400"
    height="300"
    loading="lazy"
  />
  <p>Solution (129 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<style>*{background:radial-gradient(1q at bottom,#5370D9.1lh,#B6EBE7 0 25vw,#5370D9 0 8ch,#B6EBE7)45vw;*{margin:50 20;font:53q/6'`</script>
  </div>

  <p>
    This was a fun one using pretty much just
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/gradient/radial-gradient"
      target="_blank"
      >radial-gradient</a
    >
    and a trick with the
    <a
      href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/font"
      target="_blank"
      >font</a
    >
    shorthand.
  </p>

  <iframe
    class="yt-video"
    width="100%"
    height="auto"
    src="https://www.youtube.com/embed/6ry__KGpQnk?si=sm6N_TAZYOaszdDl"
    title="battle 23/02/2026"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;
    "
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`* {
  background: radial-gradient(
      1Q at bottom,
      #5370D9.1lh,
      #b6ebe7 0 25vw,
      #5370d9 0 8ch,
      #b6ebe7
    )
    45vw;
  * {
    margin: 50 20;
    font: 53Q/6 "";
  }
}`
</script>
  </div>

  {{/blog-post}}
</article>
