<article>
  {{#> blog-post title="Target (03/11/2025) - 3rd place"}}
  <img
    src="/css-battle/2025-11-03.png"
    alt="Target (03/11/2025) - 3rd place"
    width="400"
    height="300"
  />
  <p>Solution (178 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<img><img><img><style>*{*{margin:-9 166;*{padding:32 .13in;margin:-1.2;border-radius:1cm;color:E38F66;box-shadow:0 192q,0 205pt}background:radial-gradient(1q,#E38F66 75px,#62306D`</script>
  </div>

  <p>
    Used a
    <span class="code code-inline" data-lang="css">
      <!-- prettier-ignore -->
      <script data-no-format>`radial-gradient`</script>
    </span>
    on the
    <span class="code code-inline" data-lang="body">
      <!-- prettier-ignore -->
      <script data-no-format>`body`</script>
    </span>
    element to draw the orange circle on the purple background. The three
    <span class="code code-inline" data-lang="html">
      <!-- prettier-ignore -->
      <script data-no-format>`<img>`</script>
    </span>
    tags make up the three pill shapes, and a
    <span class="code code-inline" data-lang="css">
      <!-- prettier-ignore -->
      <script data-no-format>`box-shadow`</script>
    </span>
    with two values is used to draw the other two sets of pill shapes below.
  </p>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`* {
  * {
    margin: -9 166;
    * {
      padding: 32 0.13in;
      margin: -1.2;
      border-radius: 1cm;
      color: E38F66;
      box-shadow: 0 192Q, 0 205pt;
    }
    background: radial-gradient(1Q, #e38f66 75px, #62306d);
  }
}`
</script>
  </div>

  {{/blog-post}}
</article>
