<article>
  {{#> blog-post title="Target (26/01/2026) - tied for 5th place"}}
  <img
    src="/css-battle/2026-01-26.png"
    alt="Target (26/01/2026) - tied for 5th place"
    width="400"
    height="300"
    loading="lazy"
  />
  <p>Solution (126 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>`<img><p><style>p{margin:0 150}*{border:32q solid#5370D9;border-top:0;margin:50 30%50 200;*{margin:0 50-30-110;background:#9754`</script>
  </div>

  <p>
    This solution isn't about fancy tricks or clever CSS hacks, it's all about
    optimization. The video below walks through the step-by-step optimization
    process.
  </p>

  <iframe
    class="yt-video"
    width="100%"
    height="auto"
    src="https://www.youtube.com/embed/9v0sOUrAXvc?si=vqVUCFObzAz9D-My"
    title="battle 26/01/2026"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;
    "
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`p {
  margin: 0 150;
}
* {
  border: 32Q solid#5370D9;
  border-top: 0;
  margin: 50 30%50 200;
  * {
    margin: 0 50-30-110;
    background: #9754;
  }
}`
</script>
  </div>

  {{/blog-post}}
</article>
