<article>
  {{#> blog-post title="Target (24/05/2026) - 1st place"}}
  <img
    src="/css-battle/2026-05-24.png"
    alt="Target (24/05/2026) - 1st place"
    width="400"
    height="300"
    loading="lazy"
  />
  <p>Solution (144 characters):</p>
  <div class="code" data-lang="html">
    <!-- prettier-ignore -->
    <script data-no-format>` <p> <style>p{margin:0 115}*{background:radial-gradient(1q at 25ch,#0000 5pc,#E8AD6D 0 130px,#0000)var(--x,69q#2F5A76);*{--x:134q;font:.01q/1in'`</script>
  </div>

  <p>
    Nothing new here, just combining a few tricks to get the shortest solution.
    <span class="code code-inline" data-lang="css">
      <!-- prettier-ignore -->
      <script data-no-format>`margin`</script></span
    >,
    <span class="code code-inline" data-lang="css">
      <!-- prettier-ignore -->
      <script data-no-format>`background`</script></span
    >, and
    <span class="code code-inline" data-lang="css">
      <!-- prettier-ignore -->
      <script data-no-format>`font`</script>
    </span>
    are the only properties used. In the video I go into detail about how to
    best leverage the font property, and briefly cover some of the things that
    <a href="https://48dvyq.csb.app/" target="_blank">radial gradient</a>
    can do.
  </p>

  <iframe
    class="yt-video"
    width="100%"
    height="auto"
    src="https://www.youtube.com/embed/sA_DeD4A78Q?si=2m2_7Aex8fqCzMy8"
    title="battle 24/05/2026"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;
    "
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>

  <p><strong>Here are the styles, unminified:</strong></p>
  <div class="code" data-lang="css">
    <!-- prettier-ignore -->
    <script data-no-format>
`p {
    margin: 0 115;
}
* {
    background: radial-gradient(1Q at 25ch, #0000 5pc, #e8ad6d 0 130px, #0000)
        var(--x, 69q#2F5A76);
    * {
        --x: 134Q;
        font: 0.01q/1in "";
    }
}`
</script>
  </div>

  {{/blog-post}}
</article>
