<section class="projects" id="projects">
  <div class="project">
    <h3 id="lisa-website">
      <a href="https://lisapottery.co.za/" target="_blank" rel="noopener">
        Lisa's website
      </a>
    </h3>
    <p>
      Website for ceramic artist
      <a href="https://lisapottery.co.za/" target="_blank">Lisa Liebermann</a>,
      designed by
      <a href="https://aadilachand.com/" target="_blank"> Aadila Chand </a>
      on Figma. This Next.js project uses TypeScript and SASS, and is deployed
      with Netlify.
    </p>
    <div class="projectWrapper">
      <div class="skeletonLoader"></div>
      <iframe
        class="loading"
        width="500"
        height="500"
        data-src="https://lisapottery.co.za/"
        title="Lisa's website"
        loading="lazy"
        allow="autoplay; gyroscope; accelerometer; geolocation; encrypted-media; clipboard-write; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="project">
    <h3 id="audio-visualiser">
      <a
        href="https://playground.joshkoter.com/audio-visualiser/"
        target="_blank"
        rel="noopener"
      >
        Audio Visualiser
      </a>
    </h3>
    <p>
      An audio visualiser that responds to microphone input.
      <a
        href="https://playground.joshkoter.com/audio-visualiser/"
        target="_blank"
        rel="noreferrer"
      >
        Click this link </a
      >, then allow microphone access and speak into your mic or play some music
      to see it in action. This project was inspired by Frank over at
      <a
        href="https://www.youtube.com/c/Frankslaboratory"
        target="blank"
        rel="noreferrer"
      >
        Franks Laboratory </a
      >.
    </p>
    <div class="projectWrapper">
      <div class="skeletonLoader"></div>
      <video
        width="500"
        height="500"
        loop
        poster="./audio-visualiser-thumb.webp"
        class="loading"
        data-src="/audio-visualiser.mp4"
      >
        Your browser does not support the video tag.
      </video>
      <svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 384 512"
        id="play-icon"
        class="play-icon"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
        ></path>
      </svg>
    </div>
  </div>
  <div class="project">
    <h3 id="stick-hero">
      <a href="https://stick-hero.joshkoter.com/" target="_blank">
        Stick Hero
      </a>
    </h3>
    <p>
      My first mobile-friendly game, inspired by the
      <a href="https://ketchapp-stick-hero.en.aptoide.com/app" target="_blank">
        Stick Hero game from KetchApp </a
      >. Javascript implementation inspired by this
      <a
        href="https://www.freecodecamp.org/news/javascript-game-tutorial-stick-hero-with-html-canvas/#the-stick-hero-game"
        target="_blank"
      >
        tutorial</a
      >. Credit for character sprites goes to
      <a href="https://www.spriters-resource.com/" target="blank">
        The Spriters Resource </a
      >. Credit for the background images goes to
      <a
        href="https://opengameart.org/content/horizontal-2d-backgrounds"
        target="_blank"
      >
        CraftPix.net 2D Game Assets </a
      >. This soundtrack is from
      <a href="https://store.steampowered.com/app/567380/Heartbound/">
        Heartbound </a
      >, a game by Pirate Software.
    </p>
    <div class="projectWrapper">
      <div class="skeletonLoader"></div>
      <iframe
        class="loading"
        width="500"
        height="500"
        data-src="https://stick-hero.joshkoter.com/"
        title="Stick Hero"
        loading="lazy"
      ></iframe>
    </div>
  </div>
  <div class="project">
    <h3 id="weather-app">
      <a
        href="https://weatherapp.joshkoter.com/"
        target="_blank"
        rel="noopener"
      >
        Weather App
      </a>
    </h3>
    <p>
      A weather app that uses the Geolocation API. Type a city name and hit
      <b>Enter</b> to see it in action, or simply use the 'Get Device Location'
      button - you'll have to allow location access when you're prompted for
      this to work.
    </p>
    <div class="projectWrapper">
      <div class="skeletonLoader"></div>
      <iframe
        class="loading"
        width="500"
        height="500"
        data-src="https://weatherapp.joshkoter.com/"
        title="Lisa's website"
        loading="lazy"
        allow="geolocation"
      ></iframe>
    </div>
  </div>
</section>
